/* ------------------------------------root------------------------------------ */
:root {
    --primary: #CC2936;
    --secondary: #08415C;
    --tertiary: #FFD131;
    --background: #FCF6F0;
    --white: #FFFFFF;
}

body {
    background-color: var(--background);
    font-size: 16px;
    display: block;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.margin {
    width: calc(100% - 20px - 20px);

}

.main {
    margin: 0 20px;
}

h1 {
    font-size: 24pt;
    font-family: 'Fredoka One', cursive;
    color: var(--primary);
    margin: 20px 0 10px 0;

}


main {
    display: block;
    width: 100%;
}

a:focus {
    outline: 4px solid var(--tertiary);
}

a:visited {
    color: inherit;
}

.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: black;
    color: white;
    padding: 6px 12px;
    font-weight: 700;
}

.skip-links a:focus {
    top: 0;
}

/* ---------------Header------------------ */
header {
    background-image: url(../images/nav_background.svg);
    background-repeat: repeat-x;
    width: auto;
    height: auto;
    padding: 20px 20px 8% 20px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: var(--white);
}

/* Use flex and space-between to make the logo and profile align justified */
header .sub-nav {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

header .sub-nav div {
    font-size: 24px;
    vertical-align: middle;
}


header .profile a {
    display: inline-block;
    padding: 5px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header nav ul li {
    font-size: 20px;
    margin: 16px 0;
}

/* Use pseudo element to make a hover animation and keep code in html simple */
header nav ul li::after {
    content: '';
    display: block;
    position: relative;
    height: 4px;
    width: 0;
    bottom: -2px;
    background-color: var(--primary);
    transition: width .2s ease-in;
}

header nav ul li:hover::after {
    width: 100%;
}

.searchbar {
    width: 100%;
}

.searchbar button {
    display: inline-block;
    height: calc(20px + 12px);
    width: 48px;
    border: solid 5px var(--primary);
    border-right: solid 5px var(--primary);
    border-radius: 20px 0 0 20px;
    background-color: var(--white);
    vertical-align: middle;
}

.searchbar button i {
    font-size: 20px;
    color: var(--primary);
    vertical-align: middle;
}

.searchbar input {
    display: inline-block;
    height: 20px;
    width: calc(100% - 17px - 48px);
    border: solid 5px var(--primary);
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--white);
    vertical-align: middle;
    font-size: 20px;
    padding-left: 10px;

}

.searchbar input::placeholder {
    color: var(--primary);
    font-family: 'Fredoka One', cursive;
}

/* ------------------------------------Footer------------------------------------ */
footer {
    background-image: url(../images/footer_background.svg);
    background-repeat: repeat-x;
    width: auto;
    height: auto;
    margin-top: 40px;
    padding: 20px 20px 20px 20px;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
}



footer .footer-link ul li {
    font-size: 12px;
    width: 100%;
    border-bottom: 2px solid var(--white);
    font-weight: 700;
    line-height: 24px;
}

footer .footer-link i {
    float: right;
    font-weight: 700;
    font-size: 20px;
    color: var(--primary);
}

footer .social-copyright {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

footer .social {
    font-size: 20px;
}

footer .social i {
    padding: 0 5px;
}

footer .social-copyright .copyright p {
    text-align: right;
    font-size: 9px;
}

/* ------------------------------------Home------------------------------------ */
main {
    margin: 0 20px;
    display: block;
    width: auto;
}

.trips {
    margin: 5px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}

/* use animation to make the products image noticeable when hovered */
.trips .trips-image img:hover {
    animation: shadow .5s infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;

}

@keyframes shadow {
    from {
        box-shadow: 0 0 2px rgb(130, 130, 130);
    }
  
    to {
        box-shadow: 0 0 10px rgb(130, 130, 130);
    }
  }

.trips-image {
    position: relative;
}

.trips-image img {
    width: 100%;
    border-radius: 10px;
}

.trips-image button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: transparent;
    color: var(--primary);
}

.trips-title {
    width: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 14pt;
    font-weight: 800;
    margin-top: 4px;
}

h2 {
    color: var(--primary);
}

.trips-title,
.trips-location,
.trips-price {
    width: auto;
    padding: 0 8px;
}

.trips-title div:nth-child(2) {
    font-size: 12pt;
    text-align: right;
}

.trips-location {
    margin-top: 2px;
    font-size: 9pt;
}

.trips-price {
    margin-top: 8px;
    font-weight: 800;
}

.trips-price span:nth-child(1) {
    float: left;
}

.trips-price span:nth-child(2) {
    font-size: 14pt;
    clear: left;
}

.trips-price span:nth-child(3) {
    margin-left: 4px;
}

.button {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 12px 24px;
    border: 4px solid var(--primary);
    border-radius: 35px;
    background-color: var(--primary);
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
}

/* ------------------------------------About------------------------------------ */
.company-logo {
    width: 180px;
    display: block;
    margin: 20px auto;
}

q {
    display: block;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 42px;
    margin: 5px;
    color: var(--tertiary);
    margin: 40px 0 20px 0;
}

.about-us {
    display: block;
    background-color: var(--secondary);
    padding: 15px;
    border-radius: 10px;
    color: var(--white);
}

.about h1 {
    margin: 0 0 10px 0;
    color: var(--white);
}

.about-p {
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    line-height: 16px;
    font-weight: 700;
}

/* ------------------------------------Contact------------------------------------ */
.contact h1,
.or {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    width: max-content;
    display: block;
}

.contact-details {
    line-height: 16px;
    font-weight: 700;
    display: grid;
    row-gap: 30px;
    margin-bottom: 50px;
}

.contact-details table {
    table-layout: auto;
    width: 100%;
}

.contact-details table td {
    padding: 2px 0;
}

.contact .or p {
    font-size: 20pt;
    font-family: 'Fredoka One', cursive;
    color: var(--primary);
    margin: 20px 0 10px 0;
}

.contact form {
    margin: 0 auto;
}

.contact fieldset {
    margin: 0 auto;
    display: block;
    width: min-content;
}

.contact form input {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border: 5px solid var(--secondary);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 14px;
}

.contact form .form-text{
    color: var(--secondary);
    padding: 5px 8px;
    font-size: 16px;
}

.contact form input::placeholder{
    color: var(--secondary);
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.contact form textarea {
    width: 100%;
    height: 320px;
    background-color: var(--white);
    resize: none;
    border: 5px solid var(--secondary);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    font-family: 'Nunito', sans-serif;
    color: var(--secondary);
    font-size: 16px;
    font-weight: 800;
}



/* ------------------------------------Breakpoint------------------------------------ */

@media only screen and (min-width: 768px) {
    header {
        min-height: 50px;
    }

    header nav ul {
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
    }

    header nav ul li {
        padding-left: 16px;
    }

    #nav {
        display: flex;
        /* use row-reverse to make the search stay on the left of the icon, to keep the icon stay in the right of nav, which provides consistency*/
        flex-direction: row-reverse;
        float: right;
        align-items: center;
    }

    .searchbar {
        width: auto;
    }

    /* ------------------------------------Home------------------------------------ */
    .trips {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    /* ------------------------------------Contact------------------------------------ */
    .contact h1,
    .or {
        text-align: left;
    }

    .contact form input {
        width: 480px;
    }

    .contact form textarea {
        width: 480px;
    }
}