/* ------------------------------------root------------------------------------ */
:root {
    --primary: #CC2936;
    --secondary: #08415C;
    --tertiary: #FFD131;
    --background: #FCF6F0;
    --white: #FFFFFF;
}


body {
    background-color: var(--background);
    font-size: 12px;
    display: block;
    width: 100%;
}

h1 {
    font-size: 24pt;
    font-family: 'Fredoka One', cursive;
    color: var(--primary);
}


main {
    display: block;
    width: 100%;
}

a:focus {
    outline: 4px solid var(--tertiary);
}

a:visited {
    color: inherit;
}

.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: black;
    color: white;
    padding: 6px 12px;
    font-weight: 700;
}

.skip-links a:focus {
    top: 0;
}

/* ---------------Header------------------ */
header {
    background-image: url(../images/nav_background.svg);
    background-repeat: repeat-x;
    width: auto;
    height: auto;
    padding: 20px 20px 8% 20px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: var(--white);
}

/* Use flex and space-between to make the logo and profile align justified */
header .sub-nav {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

header .sub-nav div {
    font-size: 24px;
    vertical-align: middle;
}


header .profile a {
    display: inline-block;
    padding: 5px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header nav ul li {
    font-size: 24px;
    margin: 28px 0;
}

/* Use pseudo element to make a hover animation and keep code in html simple */
header nav ul li::after {
    content: '';
    display: block;
    position: relative;
    height: 4px;
    width: 0;
    bottom: -2px;
    background-color: var(--primary);
    transition: width .2s ease-in;
}

header nav ul li:hover::after {
    width: 100%;
}
        
.searchbar {
    width: 100%;
}

.searchbar button {
    display: inline-block;
    height: calc(36px + 12px);
    width: calc(60px);
    border: solid 5px var(--primary);
    border-right: solid 5px var(--primary);
    border-radius: 20px 0 0 20px;
    background-color: var(--background);
    vertical-align: middle;
}

.searchbar button i {
    font-size: 24px;
    color: var(--primary);
    vertical-align: middle;
}

.searchbar input {
    display: inline-block;
    height: 36px;
    width: calc(100% - 17px - 60px);
    border: solid 5px var(--primary);
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--background);
    vertical-align: middle;
    font-size: 20px;
    padding-left: 10px;

}

input::placeholder {
    color: var(--primary);
    font-family: 'Fredoka One', cursive;
}

/* ------------------------------------Footer------------------------------------ */
footer {
    background-image: url(../images/footer_background.svg);
    background-repeat: repeat-x;
    width: auto;
    height: auto;
    padding: 50px 20px 20px 20px;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
}



.footer-link ul li {
    padding: 6px 0;
    font-size: 24px;
    width: 100%;
    border-bottom: 4px solid var(--white);
    font-weight: 700;
}

.footer-link i {
    float: right;
    font-weight: 700;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    color: var(--primary);
}

.social-copyright {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.social {
    font-size: 1.8em;
}

.social i {
    padding: 0 5px;
}

.copyright {
    text-align: right;
}

/* ------------------------------------Home------------------------------------ */
.trips div {
    display: block;
    padding: 0 10px;
}

.trips h1{
    margin: 12px 0 24px 0;
    
}

.trips .image-cropper {
    display: block;
    overflow: hidden;
    width: auto;
}

.trips .image-cropper img {
    width: 100%;
}

/* ------------------------------------About------------------------------------ */

/* ------------------------------------Contact------------------------------------ */


/* ------------------------------------Breakpoint------------------------------------ */

@media only screen and (min-width: 768px) {
    header {
        max-height: 80px;

    }
    header nav ul {
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
    }

    header nav ul li {
        padding-left: 20px;
    }

    #nav {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .searchbar {
        width: 100%;
    }

  }